ALTER TABLE agents DROP CONSTRAINT agents_agent_type_check; ALTER TABLE agents ADD CONSTRAINT agents_agent_type_check CHECK (agent_type IN ('data_acquisition', 'prediction', 'decision', 'communication', 'learning', 'orchestrator'));
